.post-section {
    max-width: 800px;
    margin: 1rem auto; 
    padding: 2rem;
    border: 1px solid #303232;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 10px 7px 0 #bcbebe;
}

.post-section:hover {
    background-color: #E0E0E0; /* Color when hovered */
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-content {
    font-size: 16px;
    line-height: 1.5;
}